# ========== Ignore semua file dan folder di root ==========
/*
desktop.ini

# ========== kecuali public/js/app/modules/ ==========
!pertemuan21/
pertemuan21/*

!pertemuan21/public/
pertemuan21/public/*
!pertemuan21/public/js/
pertemuan21/public/js/*
!pertemuan21/public/js/app/
pertemuan21/public/js/app/*
!pertemuan21/public/js/app/modules/
pertemuan21/public/js/app/modules/helper.js

# ========== kecuali app/helper/ and app/helper/ ==========

!pertemuan21/app/
pertemuan21/app/*
!pertemuan21app/helper/


# ========== Specific config files ==========
!/.gitignore
!pertemuan21/.htaccess

